.postClass{
  width: 960px;
  margin: 40px auto 40px auto;
  li {
    float: left;
    width: 25%;
    &>div:first-of-type{
      margin-left: 10px;
      float: left;
    }
    div.title {
      font-size: 16px;
      width: 100%;
      margin: 10px auto;
    }
    span {
      font-size: 12px;
      width: 100%;
      display: block;
      margin-bottom: 10px;
      color: #999999;
    }
    i{
      width: 96px;
      height: 96px;
      font-size: 54px;
      color: white;
      text-align: center;
      line-height: 96px;
      display: block;
      font-style: normal;
      float: left;
    }
    i:first-of-type{
      background-color: #05e4f9;
      border-radius: 100%;
    }
    i.icon-xiaoshou{
      background-color: #2aeaa9;
      border-radius: 100%;
    }
    i.icon-dengpao{
      background-color: #feca04;
      border-radius: 100%;
    }
    i.icon-designsign{
      background-color: #00ccff;
      border-radius: 100%;
    }
  }
}

