.about{
  background: url("../../images/about-bg.jpg") no-repeat center top;
  margin-top: 40px;
  width: 100%;
  height: 446px;
  margin-bottom: 40px;
}
.about2{
  background: url("../../images/about-bg2.jpg") no-repeat center top;
  margin-top: 40px;
  width: 100%;
  height: 520px;
  margin-bottom: 40px;
}
.about3{
  background: url("../../images/about-bg3.jpg") no-repeat center top;
  margin-top: 40px;
  width: 100%;
  height: 446px;
  margin-bottom: 40px;
}
.aboutTitle{
  margin: 0 auto;
  text-align: center;
}
.fontcontainer{
  font-size: 20px;
  color: #858585;
  line-height: 36px;
}